.color-FBEFEF { background-color: #FBEFEF; } 
.color-FBF2EF { background-color: #FBF2EF; } 
.color-FBF5EF { background-color: #FBF5EF; } 
.color-FBF8EF { background-color: #FBF8EF; } 
.color-FBFBEF { background-color: #FBFBEF; } 
.color-F8FBEF { background-color: #F8FBEF; } 
.color-F5FBEF { background-color: #F5FBEF; } 
.color-F2FBEF { background-color: #F2FBEF; } 
.color-EFFBEF { background-color: #EFFBEF; } 
.color-EFFBF2 { background-color: #EFFBF2; } 
.color-EFFBF5 { background-color: #EFFBF5; } 
.color-EFFBF8 { background-color: #EFFBF8; } 
.color-EFFBFB { background-color: #EFFBFB; } 
.color-EFF8FB { background-color: #EFF8FB; } 
.color-EFF5FB { background-color: #EFF5FB; } 
.color-EFF2FB { background-color: #EFF2FB; } 
.color-EFEFFB { background-color: #EFEFFB; } 
.color-F2EFFB { background-color: #F2EFFB; } 
.color-F5EFFB { background-color: #F5EFFB; } 
.color-F8EFFB { background-color: #F8EFFB; } 
.color-FBEFFB { background-color: #FBEFFB; } 
.color-FBEFF8 { background-color: #FBEFF8; } 
.color-FBEFF5 { background-color: #FBEFF5; } 
.color-FBEFF2 { background-color: #FBEFF2; } 
.color-FFFFFF { background-color: #FFFFFF; }
.color-F8E0E0 { background-color: #F8E0E0; } 
.color-F8E6E0 { background-color: #F8E6E0; } 
.color-F8ECE0 { background-color: #F8ECE0; } 
.color-F7F2E0 { background-color: #F7F2E0; } 
.color-F7F8E0 { background-color: #F7F8E0; } 
.color-F1F8E0 { background-color: #F1F8E0; } 
.color-ECF8E0 { background-color: #ECF8E0; } 
.color-E6F8E0 { background-color: #E6F8E0; } 
.color-E0F8E0 { background-color: #E0F8E0; } 
.color-E0F8E6 { background-color: #E0F8E6; } 
.color-E0F8EC { background-color: #E0F8EC; } 
.color-E0F8F1 { background-color: #E0F8F1; } 
.color-E0F8F7 { background-color: #E0F8F7; } 
.color-E0F2F7 { background-color: #E0F2F7; } 
.color-E0ECF8 { background-color: #E0ECF8; } 
.color-E0E6F8 { background-color: #E0E6F8; } 
.color-E0E0F8 { background-color: #E0E0F8; } 
.color-E6E0F8 { background-color: #E6E0F8; } 
.color-ECE0F8 { background-color: #ECE0F8; } 
.color-F2E0F7 { background-color: #F2E0F7; } 
.color-F8E0F7 { background-color: #F8E0F7; } 
.color-F8E0F1 { background-color: #F8E0F1; } 
.color-F8E0EC { background-color: #F8E0EC; } 
.color-F8E0E6 { background-color: #F8E0E6; } 
.color-FAFAFA { background-color: #FAFAFA; }
.color-F6CECE { background-color: #F6CECE; } 
.color-F6D8CE { background-color: #F6D8CE; } 
.color-F6E3CE { background-color: #F6E3CE; } 
.color-F5ECCE { background-color: #F5ECCE; } 
.color-F5F6CE { background-color: #F5F6CE; } 
.color-ECF6CE { background-color: #ECF6CE; } 
.color-E3F6CE { background-color: #E3F6CE; } 
.color-D8F6CE { background-color: #D8F6CE; } 
.color-CEF6CE { background-color: #CEF6CE; } 
.color-CEF6D8 { background-color: #CEF6D8; } 
.color-CEF6E3 { background-color: #CEF6E3; } 
.color-CEF6EC { background-color: #CEF6EC; } 
.color-CEF6F5 { background-color: #CEF6F5; } 
.color-CEECF5 { background-color: #CEECF5; } 
.color-CEE3F6 { background-color: #CEE3F6; } 
.color-CED8F6 { background-color: #CED8F6; } 
.color-CECEF6 { background-color: #CECEF6; } 
.color-D8CEF6 { background-color: #D8CEF6; } 
.color-E3CEF6 { background-color: #E3CEF6; } 
.color-ECCEF5 { background-color: #ECCEF5; } 
.color-F6CEF5 { background-color: #F6CEF5; } 
.color-F6CEEC { background-color: #F6CEEC; } 
.color-F6CEE3 { background-color: #F6CEE3; } 
.color-F6CED8 { background-color: #F6CED8; } 
.color-F2F2F2 { background-color: #F2F2F2; }
.color-F5A9A9 { background-color: #F5A9A9; } 
.color-F5BCA9 { background-color: #F5BCA9; } 
.color-F5D0A9 { background-color: #F5D0A9; } 
.color-F3E2A9 { background-color: #F3E2A9; } 
.color-F2F5A9 { background-color: #F2F5A9; } 
.color-E1F5A9 { background-color: #E1F5A9; } 
.color-D0F5A9 { background-color: #D0F5A9; } 
.color-BCF5A9 { background-color: #BCF5A9; } 
.color-A9F5A9 { background-color: #A9F5A9; } 
.color-A9F5BC { background-color: #A9F5BC; } 
.color-A9F5D0 { background-color: #A9F5D0; } 
.color-A9F5E1 { background-color: #A9F5E1; } 
.color-A9F5F2 { background-color: #A9F5F2; } 
.color-A9E2F3 { background-color: #A9E2F3; } 
.color-A9D0F5 { background-color: #A9D0F5; } 
.color-A9BCF5 { background-color: #A9BCF5; } 
.color-A9A9F5 { background-color: #A9A9F5; } 
.color-BCA9F5 { background-color: #BCA9F5; } 
.color-D0A9F5 { background-color: #D0A9F5; } 
.color-E2A9F3 { background-color: #E2A9F3; } 
.color-F5A9F2 { background-color: #F5A9F2; } 
.color-F5A9E1 { background-color: #F5A9E1; } 
.color-F5A9D0 { background-color: #F5A9D0; } 
.color-F5A9BC { background-color: #F5A9BC; } 
.color-E6E6E6 { background-color: #E6E6E6; }
.color-F78181 { background-color: #F78181; } 
.color-F79F81 { background-color: #F79F81; } 
.color-F7BE81 { background-color: #F7BE81; } 
.color-F5DA81 { background-color: #F5DA81; } 
.color-F3F781 { background-color: #F3F781; } 
.color-D8F781 { background-color: #D8F781; } 
.color-BEF781 { background-color: #BEF781; } 
.color-9FF781 { background-color: #9FF781; } 
.color-81F781 { background-color: #81F781; } 
.color-81F79F { background-color: #81F79F; } 
.color-81F7BE { background-color: #81F7BE; } 
.color-81F7D8 { background-color: #81F7D8; } 
.color-81F7F3 { background-color: #81F7F3; } 
.color-81DAF5 { background-color: #81DAF5; } 
.color-81BEF7 { background-color: #81BEF7; } 
.color-819FF7 { background-color: #819FF7; } 
.color-8181F7 { background-color: #8181F7; } 
.color-9F81F7 { background-color: #9F81F7; } 
.color-BE81F7 { background-color: #BE81F7; } 
.color-DA81F5 { background-color: #DA81F5; } 
.color-F781F3 { background-color: #F781F3; } 
.color-F781D8 { background-color: #F781D8; } 
.color-F781BE { background-color: #F781BE; } 
.color-F7819F { background-color: #F7819F; } 
.color-D8D8D8 { background-color: #D8D8D8; }
.color-FA5858 { background-color: #FA5858; } 
.color-FA8258 { background-color: #FA8258; } 
.color-FAAC58 { background-color: #FAAC58; } 
.color-F7D358 { background-color: #F7D358; } 
.color-F4FA58 { background-color: #F4FA58; } 
.color-D0FA58 { background-color: #D0FA58; } 
.color-ACFA58 { background-color: #ACFA58; } 
.color-82FA58 { background-color: #82FA58; } 
.color-58FA58 { background-color: #58FA58; } 
.color-58FA82 { background-color: #58FA82; } 
.color-58FAAC { background-color: #58FAAC; } 
.color-58FAD0 { background-color: #58FAD0; } 
.color-58FAF4 { background-color: #58FAF4; } 
.color-58D3F7 { background-color: #58D3F7; } 
.color-58ACFA { background-color: #58ACFA; } 
.color-5882FA { background-color: #5882FA; } 
.color-5858FA { background-color: #5858FA; } 
.color-8258FA { background-color: #8258FA; } 
.color-AC58FA { background-color: #AC58FA; } 
.color-D358F7 { background-color: #D358F7; } 
.color-FA58F4 { background-color: #FA58F4; } 
.color-FA58D0 { background-color: #FA58D0; } 
.color-FA58AC { background-color: #FA58AC; } 
.color-FA5882 { background-color: #FA5882; } 
.color-BDBDBD { background-color: #BDBDBD; }
.color-FE2E2E { background-color: #FE2E2E; } 
.color-FE642E { background-color: #FE642E; } 
.color-FE9A2E { background-color: #FE9A2E; } 
.color-FACC2E { background-color: #FACC2E; } 
.color-F7FE2E { background-color: #F7FE2E; } 
.color-C8FE2E { background-color: #C8FE2E; } 
.color-9AFE2E { background-color: #9AFE2E; } 
.color-64FE2E { background-color: #64FE2E; } 
.color-2EFE2E { background-color: #2EFE2E; } 
.color-2EFE64 { background-color: #2EFE64; } 
.color-2EFE9A { background-color: #2EFE9A; } 
.color-2EFEC8 { background-color: #2EFEC8; } 
.color-2EFEF7 { background-color: #2EFEF7; } 
.color-2ECCFA { background-color: #2ECCFA; } 
.color-2E9AFE { background-color: #2E9AFE; } 
.color-2E64FE { background-color: #2E64FE; } 
.color-2E2EFE { background-color: #2E2EFE; } 
.color-642EFE { background-color: #642EFE; } 
.color-9A2EFE { background-color: #9A2EFE; } 
.color-CC2EFA { background-color: #CC2EFA; } 
.color-FE2EF7 { background-color: #FE2EF7; } 
.color-FE2EC8 { background-color: #FE2EC8; } 
.color-FE2E9A { background-color: #FE2E9A; } 
.color-FE2E64 { background-color: #FE2E64; } 
.color-A4A4A4 { background-color: #A4A4A4; }
.color-FF0000 { background-color: #FF0000; } 
.color-FF4000 { background-color: #FF4000; } 
.color-FF8000 { background-color: #FF8000; } 
.color-FFBF00 { background-color: #FFBF00; } 
.color-FFFF00 { background-color: #FFFF00; } 
.color-BFFF00 { background-color: #BFFF00; } 
.color-80FF00 { background-color: #80FF00; } 
.color-40FF00 { background-color: #40FF00; } 
.color-00FF00 { background-color: #00FF00; } 
.color-00FF40 { background-color: #00FF40; } 
.color-00FF80 { background-color: #00FF80; } 
.color-00FFBF { background-color: #00FFBF; } 
.color-00FFFF { background-color: #00FFFF; } 
.color-00BFFF { background-color: #00BFFF; } 
.color-0080FF { background-color: #0080FF; } 
.color-0040FF { background-color: #0040FF; } 
.color-0000FF { background-color: #0000FF; } 
.color-4000FF { background-color: #4000FF; } 
.color-8000FF { background-color: #8000FF; } 
.color-BF00FF { background-color: #BF00FF; } 
.color-FF00FF { background-color: #FF00FF; } 
.color-FF00BF { background-color: #FF00BF; } 
.color-FF0080 { background-color: #FF0080; } 
.color-FF0040 { background-color: #FF0040; } 
.color-848484 { background-color: #848484; }
.color-DF0101 { background-color: #DF0101; } 
.color-DF3A01 { background-color: #DF3A01; } 
.color-DF7401 { background-color: #DF7401; } 
.color-DBA901 { background-color: #DBA901; } 
.color-D7DF01 { background-color: #D7DF01; } 
.color-A5DF00 { background-color: #A5DF00; } 
.color-74DF00 { background-color: #74DF00; } 
.color-3ADF00 { background-color: #3ADF00; } 
.color-01DF01 { background-color: #01DF01; } 
.color-01DF3A { background-color: #01DF3A; } 
.color-01DF74 { background-color: #01DF74; } 
.color-01DFA5 { background-color: #01DFA5; } 
.color-01DFD7 { background-color: #01DFD7; } 
.color-01A9DB { background-color: #01A9DB; } 
.color-0174DF { background-color: #0174DF; } 
.color-013ADF { background-color: #013ADF; } 
.color-0101DF { background-color: #0101DF; } 
.color-3A01DF { background-color: #3A01DF; } 
.color-7401DF { background-color: #7401DF; } 
.color-A901DB { background-color: #A901DB; } 
.color-DF01D7 { background-color: #DF01D7; } 
.color-DF01A5 { background-color: #DF01A5; } 
.color-DF0174 { background-color: #DF0174; } 
.color-DF013A { background-color: #DF013A; } 
.color-6E6E6E { background-color: #6E6E6E; }
.color-B40404 { background-color: #B40404; } 
.color-B43104 { background-color: #B43104; } 
.color-B45F04 { background-color: #B45F04; } 
.color-B18904 { background-color: #B18904; } 
.color-AEB404 { background-color: #AEB404; } 
.color-86B404 { background-color: #86B404; } 
.color-5FB404 { background-color: #5FB404; } 
.color-31B404 { background-color: #31B404; } 
.color-04B404 { background-color: #04B404; } 
.color-04B431 { background-color: #04B431; } 
.color-04B45F { background-color: #04B45F; } 
.color-04B486 { background-color: #04B486; } 
.color-04B4AE { background-color: #04B4AE; } 
.color-0489B1 { background-color: #0489B1; } 
.color-045FB4 { background-color: #045FB4; } 
.color-0431B4 { background-color: #0431B4; } 
.color-0404B4 { background-color: #0404B4; } 
.color-3104B4 { background-color: #3104B4; } 
.color-5F04B4 { background-color: #5F04B4; } 
.color-8904B1 { background-color: #8904B1; } 
.color-B404AE { background-color: #B404AE; } 
.color-B40486 { background-color: #B40486; } 
.color-B4045F { background-color: #B4045F; } 
.color-B40431 { background-color: #B40431; } 
.color-585858 { background-color: #585858; }
.color-8A0808 { background-color: #8A0808; } 
.color-8A2908 { background-color: #8A2908; } 
.color-8A4B08 { background-color: #8A4B08; } 
.color-886A08 { background-color: #886A08; } 
.color-868A08 { background-color: #868A08; } 
.color-688A08 { background-color: #688A08; } 
.color-4B8A08 { background-color: #4B8A08; } 
.color-298A08 { background-color: #298A08; } 
.color-088A08 { background-color: #088A08; } 
.color-088A29 { background-color: #088A29; } 
.color-088A4B { background-color: #088A4B; } 
.color-088A68 { background-color: #088A68; } 
.color-088A85 { background-color: #088A85; } 
.color-086A87 { background-color: #086A87; } 
.color-084B8A { background-color: #084B8A; } 
.color-08298A { background-color: #08298A; } 
.color-08088A { background-color: #08088A; } 
.color-29088A { background-color: #29088A; } 
.color-4B088A { background-color: #4B088A; } 
.color-6A0888 { background-color: #6A0888; } 
.color-8A0886 { background-color: #8A0886; } 
.color-8A0868 { background-color: #8A0868; } 
.color-8A084B { background-color: #8A084B; } 
.color-8A0829 { background-color: #8A0829; } 
.color-424242 { background-color: #424242; }
.color-610B0B { background-color: #610B0B; } 
.color-61210B { background-color: #61210B; } 
.color-61380B { background-color: #61380B; } 
.color-5F4C0B { background-color: #5F4C0B; } 
.color-5E610B { background-color: #5E610B; } 
.color-4B610B { background-color: #4B610B; } 
.color-38610B { background-color: #38610B; } 
.color-21610B { background-color: #21610B; } 
.color-0B610B { background-color: #0B610B; } 
.color-0B6121 { background-color: #0B6121; } 
.color-0B6138 { background-color: #0B6138; } 
.color-0B614B { background-color: #0B614B; } 
.color-0B615E { background-color: #0B615E; } 
.color-0B4C5F { background-color: #0B4C5F; } 
.color-0B3861 { background-color: #0B3861; } 
.color-0B2161 { background-color: #0B2161; } 
.color-0B0B61 { background-color: #0B0B61; } 
.color-210B61 { background-color: #210B61; } 
.color-380B61 { background-color: #380B61; } 
.color-4C0B5F { background-color: #4C0B5F; } 
.color-610B5E { background-color: #610B5E; } 
.color-610B4B { background-color: #610B4B; } 
.color-610B38 { background-color: #610B38; } 
.color-610B21 { background-color: #610B21; } 
.color-2E2E2E { background-color: #2E2E2E; }
.color-3B0B0B { background-color: #3B0B0B; } 
.color-3B170B { background-color: #3B170B; } 
.color-3B240B { background-color: #3B240B; } 
.color-3A2F0B { background-color: #3A2F0B; } 
.color-393B0B { background-color: #393B0B; } 
.color-2E3B0B { background-color: #2E3B0B; } 
.color-243B0B { background-color: #243B0B; } 
.color-173B0B { background-color: #173B0B; } 
.color-0B3B0B { background-color: #0B3B0B; } 
.color-0B3B17 { background-color: #0B3B17; } 
.color-0B3B24 { background-color: #0B3B24; } 
.color-0B3B2E { background-color: #0B3B2E; } 
.color-0B3B39 { background-color: #0B3B39; } 
.color-0B2F3A { background-color: #0B2F3A; } 
.color-0B243B { background-color: #0B243B; } 
.color-0B173B { background-color: #0B173B; } 
.color-0B0B3B { background-color: #0B0B3B; } 
.color-170B3B { background-color: #170B3B; } 
.color-240B3B { background-color: #240B3B; } 
.color-2F0B3A { background-color: #2F0B3A; } 
.color-3B0B39 { background-color: #3B0B39; } 
.color-3B0B2E { background-color: #3B0B2E; } 
.color-3B0B24 { background-color: #3B0B24; } 
.color-3B0B17 { background-color: #3B0B17; } 
.color-1C1C1C { background-color: #1C1C1C; }
.color-2A0A0A { background-color: #2A0A0A; } 
.color-2A120A { background-color: #2A120A; } 
.color-2A1B0A { background-color: #2A1B0A; } 
.color-29220A { background-color: #29220A; } 
.color-292A0A { background-color: #292A0A; } 
.color-222A0A { background-color: #222A0A; } 
.color-1B2A0A { background-color: #1B2A0A; } 
.color-122A0A { background-color: #122A0A; } 
.color-0A2A0A { background-color: #0A2A0A; } 
.color-0A2A12 { background-color: #0A2A12; } 
.color-0A2A1B { background-color: #0A2A1B; } 
.color-0A2A22 { background-color: #0A2A22; } 
.color-0A2A29 { background-color: #0A2A29; } 
.color-0A2229 { background-color: #0A2229; } 
.color-0A1B2A { background-color: #0A1B2A; } 
.color-0A122A { background-color: #0A122A; } 
.color-0A0A2A { background-color: #0A0A2A; } 
.color-120A2A { background-color: #120A2A; } 
.color-1B0A2A { background-color: #1B0A2A; } 
.color-220A29 { background-color: #220A29; } 
.color-2A0A29 { background-color: #2A0A29; } 
.color-2A0A22 { background-color: #2A0A22; } 
.color-2A0A1B { background-color: #2A0A1B; } 
.color-2A0A12 { background-color: #2A0A12; } 
.color-151515 { background-color: #151515; }
.color-190707 { background-color: #190707; } 
.color-190B07 { background-color: #190B07; } 
.color-191007 { background-color: #191007; } 
.color-181407 { background-color: #181407; } 
.color-181907 { background-color: #181907; } 
.color-141907 { background-color: #141907; } 
.color-101907 { background-color: #101907; } 
.color-0B1907 { background-color: #0B1907; } 
.color-071907 { background-color: #071907; } 
.color-07190B { background-color: #07190B; } 
.color-071910 { background-color: #071910; } 
.color-071914 { background-color: #071914; } 
.color-071918 { background-color: #071918; } 
.color-071418 { background-color: #071418; } 
.color-071019 { background-color: #071019; } 
.color-070B19 { background-color: #070B19; } 
.color-070719 { background-color: #070719; } 
.color-0B0719 { background-color: #0B0719; } 
.color-100719 { background-color: #100719; } 
.color-140718 { background-color: #140718; } 
.color-190718 { background-color: #190718; } 
.color-190714 { background-color: #190714; } 
.color-190710 { background-color: #190710; } 
.color-19070B { background-color: #19070B; } 
.color-000000 { background-color: #000000; }