/* line 6, ../sass/_reset.scss */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.5em;
  text-decoration: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/_canvas.scss */
.canvas {
  margin: auto;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 440px;
  width: 440px;
}

/* line 1, ../sass/_pixel.scss */
.pixel {
  display: block;
  height: 44px;
  width: 44px;
  border: 1px dotted #CCC;
  float: left;
}
/* line 7, ../sass/_pixel.scss */
.pixel:hover {
  background-color: #CCC;
}

/* line 12, ../sass/_pixel.scss */
.painted {
  background-color: red;
}

/* line 1, ../sass/_colors.scss */
.color-FBEFEF {
  background-color: #FBEFEF;
}

/* line 2, ../sass/_colors.scss */
.color-FBF2EF {
  background-color: #FBF2EF;
}

/* line 3, ../sass/_colors.scss */
.color-FBF5EF {
  background-color: #FBF5EF;
}

/* line 4, ../sass/_colors.scss */
.color-FBF8EF {
  background-color: #FBF8EF;
}

/* line 5, ../sass/_colors.scss */
.color-FBFBEF {
  background-color: #FBFBEF;
}

/* line 6, ../sass/_colors.scss */
.color-F8FBEF {
  background-color: #F8FBEF;
}

/* line 7, ../sass/_colors.scss */
.color-F5FBEF {
  background-color: #F5FBEF;
}

/* line 8, ../sass/_colors.scss */
.color-F2FBEF {
  background-color: #F2FBEF;
}

/* line 9, ../sass/_colors.scss */
.color-EFFBEF {
  background-color: #EFFBEF;
}

/* line 10, ../sass/_colors.scss */
.color-EFFBF2 {
  background-color: #EFFBF2;
}

/* line 11, ../sass/_colors.scss */
.color-EFFBF5 {
  background-color: #EFFBF5;
}

/* line 12, ../sass/_colors.scss */
.color-EFFBF8 {
  background-color: #EFFBF8;
}

/* line 13, ../sass/_colors.scss */
.color-EFFBFB {
  background-color: #EFFBFB;
}

/* line 14, ../sass/_colors.scss */
.color-EFF8FB {
  background-color: #EFF8FB;
}

/* line 15, ../sass/_colors.scss */
.color-EFF5FB {
  background-color: #EFF5FB;
}

/* line 16, ../sass/_colors.scss */
.color-EFF2FB {
  background-color: #EFF2FB;
}

/* line 17, ../sass/_colors.scss */
.color-EFEFFB {
  background-color: #EFEFFB;
}

/* line 18, ../sass/_colors.scss */
.color-F2EFFB {
  background-color: #F2EFFB;
}

/* line 19, ../sass/_colors.scss */
.color-F5EFFB {
  background-color: #F5EFFB;
}

/* line 20, ../sass/_colors.scss */
.color-F8EFFB {
  background-color: #F8EFFB;
}

/* line 21, ../sass/_colors.scss */
.color-FBEFFB {
  background-color: #FBEFFB;
}

/* line 22, ../sass/_colors.scss */
.color-FBEFF8 {
  background-color: #FBEFF8;
}

/* line 23, ../sass/_colors.scss */
.color-FBEFF5 {
  background-color: #FBEFF5;
}

/* line 24, ../sass/_colors.scss */
.color-FBEFF2 {
  background-color: #FBEFF2;
}

/* line 25, ../sass/_colors.scss */
.color-FFFFFF {
  background-color: #FFFFFF;
}

/* line 26, ../sass/_colors.scss */
.color-F8E0E0 {
  background-color: #F8E0E0;
}

/* line 27, ../sass/_colors.scss */
.color-F8E6E0 {
  background-color: #F8E6E0;
}

/* line 28, ../sass/_colors.scss */
.color-F8ECE0 {
  background-color: #F8ECE0;
}

/* line 29, ../sass/_colors.scss */
.color-F7F2E0 {
  background-color: #F7F2E0;
}

/* line 30, ../sass/_colors.scss */
.color-F7F8E0 {
  background-color: #F7F8E0;
}

/* line 31, ../sass/_colors.scss */
.color-F1F8E0 {
  background-color: #F1F8E0;
}

/* line 32, ../sass/_colors.scss */
.color-ECF8E0 {
  background-color: #ECF8E0;
}

/* line 33, ../sass/_colors.scss */
.color-E6F8E0 {
  background-color: #E6F8E0;
}

/* line 34, ../sass/_colors.scss */
.color-E0F8E0 {
  background-color: #E0F8E0;
}

/* line 35, ../sass/_colors.scss */
.color-E0F8E6 {
  background-color: #E0F8E6;
}

/* line 36, ../sass/_colors.scss */
.color-E0F8EC {
  background-color: #E0F8EC;
}

/* line 37, ../sass/_colors.scss */
.color-E0F8F1 {
  background-color: #E0F8F1;
}

/* line 38, ../sass/_colors.scss */
.color-E0F8F7 {
  background-color: #E0F8F7;
}

/* line 39, ../sass/_colors.scss */
.color-E0F2F7 {
  background-color: #E0F2F7;
}

/* line 40, ../sass/_colors.scss */
.color-E0ECF8 {
  background-color: #E0ECF8;
}

/* line 41, ../sass/_colors.scss */
.color-E0E6F8 {
  background-color: #E0E6F8;
}

/* line 42, ../sass/_colors.scss */
.color-E0E0F8 {
  background-color: #E0E0F8;
}

/* line 43, ../sass/_colors.scss */
.color-E6E0F8 {
  background-color: #E6E0F8;
}

/* line 44, ../sass/_colors.scss */
.color-ECE0F8 {
  background-color: #ECE0F8;
}

/* line 45, ../sass/_colors.scss */
.color-F2E0F7 {
  background-color: #F2E0F7;
}

/* line 46, ../sass/_colors.scss */
.color-F8E0F7 {
  background-color: #F8E0F7;
}

/* line 47, ../sass/_colors.scss */
.color-F8E0F1 {
  background-color: #F8E0F1;
}

/* line 48, ../sass/_colors.scss */
.color-F8E0EC {
  background-color: #F8E0EC;
}

/* line 49, ../sass/_colors.scss */
.color-F8E0E6 {
  background-color: #F8E0E6;
}

/* line 50, ../sass/_colors.scss */
.color-FAFAFA {
  background-color: #FAFAFA;
}

/* line 51, ../sass/_colors.scss */
.color-F6CECE {
  background-color: #F6CECE;
}

/* line 52, ../sass/_colors.scss */
.color-F6D8CE {
  background-color: #F6D8CE;
}

/* line 53, ../sass/_colors.scss */
.color-F6E3CE {
  background-color: #F6E3CE;
}

/* line 54, ../sass/_colors.scss */
.color-F5ECCE {
  background-color: #F5ECCE;
}

/* line 55, ../sass/_colors.scss */
.color-F5F6CE {
  background-color: #F5F6CE;
}

/* line 56, ../sass/_colors.scss */
.color-ECF6CE {
  background-color: #ECF6CE;
}

/* line 57, ../sass/_colors.scss */
.color-E3F6CE {
  background-color: #E3F6CE;
}

/* line 58, ../sass/_colors.scss */
.color-D8F6CE {
  background-color: #D8F6CE;
}

/* line 59, ../sass/_colors.scss */
.color-CEF6CE {
  background-color: #CEF6CE;
}

/* line 60, ../sass/_colors.scss */
.color-CEF6D8 {
  background-color: #CEF6D8;
}

/* line 61, ../sass/_colors.scss */
.color-CEF6E3 {
  background-color: #CEF6E3;
}

/* line 62, ../sass/_colors.scss */
.color-CEF6EC {
  background-color: #CEF6EC;
}

/* line 63, ../sass/_colors.scss */
.color-CEF6F5 {
  background-color: #CEF6F5;
}

/* line 64, ../sass/_colors.scss */
.color-CEECF5 {
  background-color: #CEECF5;
}

/* line 65, ../sass/_colors.scss */
.color-CEE3F6 {
  background-color: #CEE3F6;
}

/* line 66, ../sass/_colors.scss */
.color-CED8F6 {
  background-color: #CED8F6;
}

/* line 67, ../sass/_colors.scss */
.color-CECEF6 {
  background-color: #CECEF6;
}

/* line 68, ../sass/_colors.scss */
.color-D8CEF6 {
  background-color: #D8CEF6;
}

/* line 69, ../sass/_colors.scss */
.color-E3CEF6 {
  background-color: #E3CEF6;
}

/* line 70, ../sass/_colors.scss */
.color-ECCEF5 {
  background-color: #ECCEF5;
}

/* line 71, ../sass/_colors.scss */
.color-F6CEF5 {
  background-color: #F6CEF5;
}

/* line 72, ../sass/_colors.scss */
.color-F6CEEC {
  background-color: #F6CEEC;
}

/* line 73, ../sass/_colors.scss */
.color-F6CEE3 {
  background-color: #F6CEE3;
}

/* line 74, ../sass/_colors.scss */
.color-F6CED8 {
  background-color: #F6CED8;
}

/* line 75, ../sass/_colors.scss */
.color-F2F2F2 {
  background-color: #F2F2F2;
}

/* line 76, ../sass/_colors.scss */
.color-F5A9A9 {
  background-color: #F5A9A9;
}

/* line 77, ../sass/_colors.scss */
.color-F5BCA9 {
  background-color: #F5BCA9;
}

/* line 78, ../sass/_colors.scss */
.color-F5D0A9 {
  background-color: #F5D0A9;
}

/* line 79, ../sass/_colors.scss */
.color-F3E2A9 {
  background-color: #F3E2A9;
}

/* line 80, ../sass/_colors.scss */
.color-F2F5A9 {
  background-color: #F2F5A9;
}

/* line 81, ../sass/_colors.scss */
.color-E1F5A9 {
  background-color: #E1F5A9;
}

/* line 82, ../sass/_colors.scss */
.color-D0F5A9 {
  background-color: #D0F5A9;
}

/* line 83, ../sass/_colors.scss */
.color-BCF5A9 {
  background-color: #BCF5A9;
}

/* line 84, ../sass/_colors.scss */
.color-A9F5A9 {
  background-color: #A9F5A9;
}

/* line 85, ../sass/_colors.scss */
.color-A9F5BC {
  background-color: #A9F5BC;
}

/* line 86, ../sass/_colors.scss */
.color-A9F5D0 {
  background-color: #A9F5D0;
}

/* line 87, ../sass/_colors.scss */
.color-A9F5E1 {
  background-color: #A9F5E1;
}

/* line 88, ../sass/_colors.scss */
.color-A9F5F2 {
  background-color: #A9F5F2;
}

/* line 89, ../sass/_colors.scss */
.color-A9E2F3 {
  background-color: #A9E2F3;
}

/* line 90, ../sass/_colors.scss */
.color-A9D0F5 {
  background-color: #A9D0F5;
}

/* line 91, ../sass/_colors.scss */
.color-A9BCF5 {
  background-color: #A9BCF5;
}

/* line 92, ../sass/_colors.scss */
.color-A9A9F5 {
  background-color: #A9A9F5;
}

/* line 93, ../sass/_colors.scss */
.color-BCA9F5 {
  background-color: #BCA9F5;
}

/* line 94, ../sass/_colors.scss */
.color-D0A9F5 {
  background-color: #D0A9F5;
}

/* line 95, ../sass/_colors.scss */
.color-E2A9F3 {
  background-color: #E2A9F3;
}

/* line 96, ../sass/_colors.scss */
.color-F5A9F2 {
  background-color: #F5A9F2;
}

/* line 97, ../sass/_colors.scss */
.color-F5A9E1 {
  background-color: #F5A9E1;
}

/* line 98, ../sass/_colors.scss */
.color-F5A9D0 {
  background-color: #F5A9D0;
}

/* line 99, ../sass/_colors.scss */
.color-F5A9BC {
  background-color: #F5A9BC;
}

/* line 100, ../sass/_colors.scss */
.color-E6E6E6 {
  background-color: #E6E6E6;
}

/* line 101, ../sass/_colors.scss */
.color-F78181 {
  background-color: #F78181;
}

/* line 102, ../sass/_colors.scss */
.color-F79F81 {
  background-color: #F79F81;
}

/* line 103, ../sass/_colors.scss */
.color-F7BE81 {
  background-color: #F7BE81;
}

/* line 104, ../sass/_colors.scss */
.color-F5DA81 {
  background-color: #F5DA81;
}

/* line 105, ../sass/_colors.scss */
.color-F3F781 {
  background-color: #F3F781;
}

/* line 106, ../sass/_colors.scss */
.color-D8F781 {
  background-color: #D8F781;
}

/* line 107, ../sass/_colors.scss */
.color-BEF781 {
  background-color: #BEF781;
}

/* line 108, ../sass/_colors.scss */
.color-9FF781 {
  background-color: #9FF781;
}

/* line 109, ../sass/_colors.scss */
.color-81F781 {
  background-color: #81F781;
}

/* line 110, ../sass/_colors.scss */
.color-81F79F {
  background-color: #81F79F;
}

/* line 111, ../sass/_colors.scss */
.color-81F7BE {
  background-color: #81F7BE;
}

/* line 112, ../sass/_colors.scss */
.color-81F7D8 {
  background-color: #81F7D8;
}

/* line 113, ../sass/_colors.scss */
.color-81F7F3 {
  background-color: #81F7F3;
}

/* line 114, ../sass/_colors.scss */
.color-81DAF5 {
  background-color: #81DAF5;
}

/* line 115, ../sass/_colors.scss */
.color-81BEF7 {
  background-color: #81BEF7;
}

/* line 116, ../sass/_colors.scss */
.color-819FF7 {
  background-color: #819FF7;
}

/* line 117, ../sass/_colors.scss */
.color-8181F7 {
  background-color: #8181F7;
}

/* line 118, ../sass/_colors.scss */
.color-9F81F7 {
  background-color: #9F81F7;
}

/* line 119, ../sass/_colors.scss */
.color-BE81F7 {
  background-color: #BE81F7;
}

/* line 120, ../sass/_colors.scss */
.color-DA81F5 {
  background-color: #DA81F5;
}

/* line 121, ../sass/_colors.scss */
.color-F781F3 {
  background-color: #F781F3;
}

/* line 122, ../sass/_colors.scss */
.color-F781D8 {
  background-color: #F781D8;
}

/* line 123, ../sass/_colors.scss */
.color-F781BE {
  background-color: #F781BE;
}

/* line 124, ../sass/_colors.scss */
.color-F7819F {
  background-color: #F7819F;
}

/* line 125, ../sass/_colors.scss */
.color-D8D8D8 {
  background-color: #D8D8D8;
}

/* line 126, ../sass/_colors.scss */
.color-FA5858 {
  background-color: #FA5858;
}

/* line 127, ../sass/_colors.scss */
.color-FA8258 {
  background-color: #FA8258;
}

/* line 128, ../sass/_colors.scss */
.color-FAAC58 {
  background-color: #FAAC58;
}

/* line 129, ../sass/_colors.scss */
.color-F7D358 {
  background-color: #F7D358;
}

/* line 130, ../sass/_colors.scss */
.color-F4FA58 {
  background-color: #F4FA58;
}

/* line 131, ../sass/_colors.scss */
.color-D0FA58 {
  background-color: #D0FA58;
}

/* line 132, ../sass/_colors.scss */
.color-ACFA58 {
  background-color: #ACFA58;
}

/* line 133, ../sass/_colors.scss */
.color-82FA58 {
  background-color: #82FA58;
}

/* line 134, ../sass/_colors.scss */
.color-58FA58 {
  background-color: #58FA58;
}

/* line 135, ../sass/_colors.scss */
.color-58FA82 {
  background-color: #58FA82;
}

/* line 136, ../sass/_colors.scss */
.color-58FAAC {
  background-color: #58FAAC;
}

/* line 137, ../sass/_colors.scss */
.color-58FAD0 {
  background-color: #58FAD0;
}

/* line 138, ../sass/_colors.scss */
.color-58FAF4 {
  background-color: #58FAF4;
}

/* line 139, ../sass/_colors.scss */
.color-58D3F7 {
  background-color: #58D3F7;
}

/* line 140, ../sass/_colors.scss */
.color-58ACFA {
  background-color: #58ACFA;
}

/* line 141, ../sass/_colors.scss */
.color-5882FA {
  background-color: #5882FA;
}

/* line 142, ../sass/_colors.scss */
.color-5858FA {
  background-color: #5858FA;
}

/* line 143, ../sass/_colors.scss */
.color-8258FA {
  background-color: #8258FA;
}

/* line 144, ../sass/_colors.scss */
.color-AC58FA {
  background-color: #AC58FA;
}

/* line 145, ../sass/_colors.scss */
.color-D358F7 {
  background-color: #D358F7;
}

/* line 146, ../sass/_colors.scss */
.color-FA58F4 {
  background-color: #FA58F4;
}

/* line 147, ../sass/_colors.scss */
.color-FA58D0 {
  background-color: #FA58D0;
}

/* line 148, ../sass/_colors.scss */
.color-FA58AC {
  background-color: #FA58AC;
}

/* line 149, ../sass/_colors.scss */
.color-FA5882 {
  background-color: #FA5882;
}

/* line 150, ../sass/_colors.scss */
.color-BDBDBD {
  background-color: #BDBDBD;
}

/* line 151, ../sass/_colors.scss */
.color-FE2E2E {
  background-color: #FE2E2E;
}

/* line 152, ../sass/_colors.scss */
.color-FE642E {
  background-color: #FE642E;
}

/* line 153, ../sass/_colors.scss */
.color-FE9A2E {
  background-color: #FE9A2E;
}

/* line 154, ../sass/_colors.scss */
.color-FACC2E {
  background-color: #FACC2E;
}

/* line 155, ../sass/_colors.scss */
.color-F7FE2E {
  background-color: #F7FE2E;
}

/* line 156, ../sass/_colors.scss */
.color-C8FE2E {
  background-color: #C8FE2E;
}

/* line 157, ../sass/_colors.scss */
.color-9AFE2E {
  background-color: #9AFE2E;
}

/* line 158, ../sass/_colors.scss */
.color-64FE2E {
  background-color: #64FE2E;
}

/* line 159, ../sass/_colors.scss */
.color-2EFE2E {
  background-color: #2EFE2E;
}

/* line 160, ../sass/_colors.scss */
.color-2EFE64 {
  background-color: #2EFE64;
}

/* line 161, ../sass/_colors.scss */
.color-2EFE9A {
  background-color: #2EFE9A;
}

/* line 162, ../sass/_colors.scss */
.color-2EFEC8 {
  background-color: #2EFEC8;
}

/* line 163, ../sass/_colors.scss */
.color-2EFEF7 {
  background-color: #2EFEF7;
}

/* line 164, ../sass/_colors.scss */
.color-2ECCFA {
  background-color: #2ECCFA;
}

/* line 165, ../sass/_colors.scss */
.color-2E9AFE {
  background-color: #2E9AFE;
}

/* line 166, ../sass/_colors.scss */
.color-2E64FE {
  background-color: #2E64FE;
}

/* line 167, ../sass/_colors.scss */
.color-2E2EFE {
  background-color: #2E2EFE;
}

/* line 168, ../sass/_colors.scss */
.color-642EFE {
  background-color: #642EFE;
}

/* line 169, ../sass/_colors.scss */
.color-9A2EFE {
  background-color: #9A2EFE;
}

/* line 170, ../sass/_colors.scss */
.color-CC2EFA {
  background-color: #CC2EFA;
}

/* line 171, ../sass/_colors.scss */
.color-FE2EF7 {
  background-color: #FE2EF7;
}

/* line 172, ../sass/_colors.scss */
.color-FE2EC8 {
  background-color: #FE2EC8;
}

/* line 173, ../sass/_colors.scss */
.color-FE2E9A {
  background-color: #FE2E9A;
}

/* line 174, ../sass/_colors.scss */
.color-FE2E64 {
  background-color: #FE2E64;
}

/* line 175, ../sass/_colors.scss */
.color-A4A4A4 {
  background-color: #A4A4A4;
}

/* line 176, ../sass/_colors.scss */
.color-FF0000 {
  background-color: #FF0000;
}

/* line 177, ../sass/_colors.scss */
.color-FF4000 {
  background-color: #FF4000;
}

/* line 178, ../sass/_colors.scss */
.color-FF8000 {
  background-color: #FF8000;
}

/* line 179, ../sass/_colors.scss */
.color-FFBF00 {
  background-color: #FFBF00;
}

/* line 180, ../sass/_colors.scss */
.color-FFFF00 {
  background-color: #FFFF00;
}

/* line 181, ../sass/_colors.scss */
.color-BFFF00 {
  background-color: #BFFF00;
}

/* line 182, ../sass/_colors.scss */
.color-80FF00 {
  background-color: #80FF00;
}

/* line 183, ../sass/_colors.scss */
.color-40FF00 {
  background-color: #40FF00;
}

/* line 184, ../sass/_colors.scss */
.color-00FF00 {
  background-color: #00FF00;
}

/* line 185, ../sass/_colors.scss */
.color-00FF40 {
  background-color: #00FF40;
}

/* line 186, ../sass/_colors.scss */
.color-00FF80 {
  background-color: #00FF80;
}

/* line 187, ../sass/_colors.scss */
.color-00FFBF {
  background-color: #00FFBF;
}

/* line 188, ../sass/_colors.scss */
.color-00FFFF {
  background-color: #00FFFF;
}

/* line 189, ../sass/_colors.scss */
.color-00BFFF {
  background-color: #00BFFF;
}

/* line 190, ../sass/_colors.scss */
.color-0080FF {
  background-color: #0080FF;
}

/* line 191, ../sass/_colors.scss */
.color-0040FF {
  background-color: #0040FF;
}

/* line 192, ../sass/_colors.scss */
.color-0000FF {
  background-color: #0000FF;
}

/* line 193, ../sass/_colors.scss */
.color-4000FF {
  background-color: #4000FF;
}

/* line 194, ../sass/_colors.scss */
.color-8000FF {
  background-color: #8000FF;
}

/* line 195, ../sass/_colors.scss */
.color-BF00FF {
  background-color: #BF00FF;
}

/* line 196, ../sass/_colors.scss */
.color-FF00FF {
  background-color: #FF00FF;
}

/* line 197, ../sass/_colors.scss */
.color-FF00BF {
  background-color: #FF00BF;
}

/* line 198, ../sass/_colors.scss */
.color-FF0080 {
  background-color: #FF0080;
}

/* line 199, ../sass/_colors.scss */
.color-FF0040 {
  background-color: #FF0040;
}

/* line 200, ../sass/_colors.scss */
.color-848484 {
  background-color: #848484;
}

/* line 201, ../sass/_colors.scss */
.color-DF0101 {
  background-color: #DF0101;
}

/* line 202, ../sass/_colors.scss */
.color-DF3A01 {
  background-color: #DF3A01;
}

/* line 203, ../sass/_colors.scss */
.color-DF7401 {
  background-color: #DF7401;
}

/* line 204, ../sass/_colors.scss */
.color-DBA901 {
  background-color: #DBA901;
}

/* line 205, ../sass/_colors.scss */
.color-D7DF01 {
  background-color: #D7DF01;
}

/* line 206, ../sass/_colors.scss */
.color-A5DF00 {
  background-color: #A5DF00;
}

/* line 207, ../sass/_colors.scss */
.color-74DF00 {
  background-color: #74DF00;
}

/* line 208, ../sass/_colors.scss */
.color-3ADF00 {
  background-color: #3ADF00;
}

/* line 209, ../sass/_colors.scss */
.color-01DF01 {
  background-color: #01DF01;
}

/* line 210, ../sass/_colors.scss */
.color-01DF3A {
  background-color: #01DF3A;
}

/* line 211, ../sass/_colors.scss */
.color-01DF74 {
  background-color: #01DF74;
}

/* line 212, ../sass/_colors.scss */
.color-01DFA5 {
  background-color: #01DFA5;
}

/* line 213, ../sass/_colors.scss */
.color-01DFD7 {
  background-color: #01DFD7;
}

/* line 214, ../sass/_colors.scss */
.color-01A9DB {
  background-color: #01A9DB;
}

/* line 215, ../sass/_colors.scss */
.color-0174DF {
  background-color: #0174DF;
}

/* line 216, ../sass/_colors.scss */
.color-013ADF {
  background-color: #013ADF;
}

/* line 217, ../sass/_colors.scss */
.color-0101DF {
  background-color: #0101DF;
}

/* line 218, ../sass/_colors.scss */
.color-3A01DF {
  background-color: #3A01DF;
}

/* line 219, ../sass/_colors.scss */
.color-7401DF {
  background-color: #7401DF;
}

/* line 220, ../sass/_colors.scss */
.color-A901DB {
  background-color: #A901DB;
}

/* line 221, ../sass/_colors.scss */
.color-DF01D7 {
  background-color: #DF01D7;
}

/* line 222, ../sass/_colors.scss */
.color-DF01A5 {
  background-color: #DF01A5;
}

/* line 223, ../sass/_colors.scss */
.color-DF0174 {
  background-color: #DF0174;
}

/* line 224, ../sass/_colors.scss */
.color-DF013A {
  background-color: #DF013A;
}

/* line 225, ../sass/_colors.scss */
.color-6E6E6E {
  background-color: #6E6E6E;
}

/* line 226, ../sass/_colors.scss */
.color-B40404 {
  background-color: #B40404;
}

/* line 227, ../sass/_colors.scss */
.color-B43104 {
  background-color: #B43104;
}

/* line 228, ../sass/_colors.scss */
.color-B45F04 {
  background-color: #B45F04;
}

/* line 229, ../sass/_colors.scss */
.color-B18904 {
  background-color: #B18904;
}

/* line 230, ../sass/_colors.scss */
.color-AEB404 {
  background-color: #AEB404;
}

/* line 231, ../sass/_colors.scss */
.color-86B404 {
  background-color: #86B404;
}

/* line 232, ../sass/_colors.scss */
.color-5FB404 {
  background-color: #5FB404;
}

/* line 233, ../sass/_colors.scss */
.color-31B404 {
  background-color: #31B404;
}

/* line 234, ../sass/_colors.scss */
.color-04B404 {
  background-color: #04B404;
}

/* line 235, ../sass/_colors.scss */
.color-04B431 {
  background-color: #04B431;
}

/* line 236, ../sass/_colors.scss */
.color-04B45F {
  background-color: #04B45F;
}

/* line 237, ../sass/_colors.scss */
.color-04B486 {
  background-color: #04B486;
}

/* line 238, ../sass/_colors.scss */
.color-04B4AE {
  background-color: #04B4AE;
}

/* line 239, ../sass/_colors.scss */
.color-0489B1 {
  background-color: #0489B1;
}

/* line 240, ../sass/_colors.scss */
.color-045FB4 {
  background-color: #045FB4;
}

/* line 241, ../sass/_colors.scss */
.color-0431B4 {
  background-color: #0431B4;
}

/* line 242, ../sass/_colors.scss */
.color-0404B4 {
  background-color: #0404B4;
}

/* line 243, ../sass/_colors.scss */
.color-3104B4 {
  background-color: #3104B4;
}

/* line 244, ../sass/_colors.scss */
.color-5F04B4 {
  background-color: #5F04B4;
}

/* line 245, ../sass/_colors.scss */
.color-8904B1 {
  background-color: #8904B1;
}

/* line 246, ../sass/_colors.scss */
.color-B404AE {
  background-color: #B404AE;
}

/* line 247, ../sass/_colors.scss */
.color-B40486 {
  background-color: #B40486;
}

/* line 248, ../sass/_colors.scss */
.color-B4045F {
  background-color: #B4045F;
}

/* line 249, ../sass/_colors.scss */
.color-B40431 {
  background-color: #B40431;
}

/* line 250, ../sass/_colors.scss */
.color-585858 {
  background-color: #585858;
}

/* line 251, ../sass/_colors.scss */
.color-8A0808 {
  background-color: #8A0808;
}

/* line 252, ../sass/_colors.scss */
.color-8A2908 {
  background-color: #8A2908;
}

/* line 253, ../sass/_colors.scss */
.color-8A4B08 {
  background-color: #8A4B08;
}

/* line 254, ../sass/_colors.scss */
.color-886A08 {
  background-color: #886A08;
}

/* line 255, ../sass/_colors.scss */
.color-868A08 {
  background-color: #868A08;
}

/* line 256, ../sass/_colors.scss */
.color-688A08 {
  background-color: #688A08;
}

/* line 257, ../sass/_colors.scss */
.color-4B8A08 {
  background-color: #4B8A08;
}

/* line 258, ../sass/_colors.scss */
.color-298A08 {
  background-color: #298A08;
}

/* line 259, ../sass/_colors.scss */
.color-088A08 {
  background-color: #088A08;
}

/* line 260, ../sass/_colors.scss */
.color-088A29 {
  background-color: #088A29;
}

/* line 261, ../sass/_colors.scss */
.color-088A4B {
  background-color: #088A4B;
}

/* line 262, ../sass/_colors.scss */
.color-088A68 {
  background-color: #088A68;
}

/* line 263, ../sass/_colors.scss */
.color-088A85 {
  background-color: #088A85;
}

/* line 264, ../sass/_colors.scss */
.color-086A87 {
  background-color: #086A87;
}

/* line 265, ../sass/_colors.scss */
.color-084B8A {
  background-color: #084B8A;
}

/* line 266, ../sass/_colors.scss */
.color-08298A {
  background-color: #08298A;
}

/* line 267, ../sass/_colors.scss */
.color-08088A {
  background-color: #08088A;
}

/* line 268, ../sass/_colors.scss */
.color-29088A {
  background-color: #29088A;
}

/* line 269, ../sass/_colors.scss */
.color-4B088A {
  background-color: #4B088A;
}

/* line 270, ../sass/_colors.scss */
.color-6A0888 {
  background-color: #6A0888;
}

/* line 271, ../sass/_colors.scss */
.color-8A0886 {
  background-color: #8A0886;
}

/* line 272, ../sass/_colors.scss */
.color-8A0868 {
  background-color: #8A0868;
}

/* line 273, ../sass/_colors.scss */
.color-8A084B {
  background-color: #8A084B;
}

/* line 274, ../sass/_colors.scss */
.color-8A0829 {
  background-color: #8A0829;
}

/* line 275, ../sass/_colors.scss */
.color-424242 {
  background-color: #424242;
}

/* line 276, ../sass/_colors.scss */
.color-610B0B {
  background-color: #610B0B;
}

/* line 277, ../sass/_colors.scss */
.color-61210B {
  background-color: #61210B;
}

/* line 278, ../sass/_colors.scss */
.color-61380B {
  background-color: #61380B;
}

/* line 279, ../sass/_colors.scss */
.color-5F4C0B {
  background-color: #5F4C0B;
}

/* line 280, ../sass/_colors.scss */
.color-5E610B {
  background-color: #5E610B;
}

/* line 281, ../sass/_colors.scss */
.color-4B610B {
  background-color: #4B610B;
}

/* line 282, ../sass/_colors.scss */
.color-38610B {
  background-color: #38610B;
}

/* line 283, ../sass/_colors.scss */
.color-21610B {
  background-color: #21610B;
}

/* line 284, ../sass/_colors.scss */
.color-0B610B {
  background-color: #0B610B;
}

/* line 285, ../sass/_colors.scss */
.color-0B6121 {
  background-color: #0B6121;
}

/* line 286, ../sass/_colors.scss */
.color-0B6138 {
  background-color: #0B6138;
}

/* line 287, ../sass/_colors.scss */
.color-0B614B {
  background-color: #0B614B;
}

/* line 288, ../sass/_colors.scss */
.color-0B615E {
  background-color: #0B615E;
}

/* line 289, ../sass/_colors.scss */
.color-0B4C5F {
  background-color: #0B4C5F;
}

/* line 290, ../sass/_colors.scss */
.color-0B3861 {
  background-color: #0B3861;
}

/* line 291, ../sass/_colors.scss */
.color-0B2161 {
  background-color: #0B2161;
}

/* line 292, ../sass/_colors.scss */
.color-0B0B61 {
  background-color: #0B0B61;
}

/* line 293, ../sass/_colors.scss */
.color-210B61 {
  background-color: #210B61;
}

/* line 294, ../sass/_colors.scss */
.color-380B61 {
  background-color: #380B61;
}

/* line 295, ../sass/_colors.scss */
.color-4C0B5F {
  background-color: #4C0B5F;
}

/* line 296, ../sass/_colors.scss */
.color-610B5E {
  background-color: #610B5E;
}

/* line 297, ../sass/_colors.scss */
.color-610B4B {
  background-color: #610B4B;
}

/* line 298, ../sass/_colors.scss */
.color-610B38 {
  background-color: #610B38;
}

/* line 299, ../sass/_colors.scss */
.color-610B21 {
  background-color: #610B21;
}

/* line 300, ../sass/_colors.scss */
.color-2E2E2E {
  background-color: #2E2E2E;
}

/* line 301, ../sass/_colors.scss */
.color-3B0B0B {
  background-color: #3B0B0B;
}

/* line 302, ../sass/_colors.scss */
.color-3B170B {
  background-color: #3B170B;
}

/* line 303, ../sass/_colors.scss */
.color-3B240B {
  background-color: #3B240B;
}

/* line 304, ../sass/_colors.scss */
.color-3A2F0B {
  background-color: #3A2F0B;
}

/* line 305, ../sass/_colors.scss */
.color-393B0B {
  background-color: #393B0B;
}

/* line 306, ../sass/_colors.scss */
.color-2E3B0B {
  background-color: #2E3B0B;
}

/* line 307, ../sass/_colors.scss */
.color-243B0B {
  background-color: #243B0B;
}

/* line 308, ../sass/_colors.scss */
.color-173B0B {
  background-color: #173B0B;
}

/* line 309, ../sass/_colors.scss */
.color-0B3B0B {
  background-color: #0B3B0B;
}

/* line 310, ../sass/_colors.scss */
.color-0B3B17 {
  background-color: #0B3B17;
}

/* line 311, ../sass/_colors.scss */
.color-0B3B24 {
  background-color: #0B3B24;
}

/* line 312, ../sass/_colors.scss */
.color-0B3B2E {
  background-color: #0B3B2E;
}

/* line 313, ../sass/_colors.scss */
.color-0B3B39 {
  background-color: #0B3B39;
}

/* line 314, ../sass/_colors.scss */
.color-0B2F3A {
  background-color: #0B2F3A;
}

/* line 315, ../sass/_colors.scss */
.color-0B243B {
  background-color: #0B243B;
}

/* line 316, ../sass/_colors.scss */
.color-0B173B {
  background-color: #0B173B;
}

/* line 317, ../sass/_colors.scss */
.color-0B0B3B {
  background-color: #0B0B3B;
}

/* line 318, ../sass/_colors.scss */
.color-170B3B {
  background-color: #170B3B;
}

/* line 319, ../sass/_colors.scss */
.color-240B3B {
  background-color: #240B3B;
}

/* line 320, ../sass/_colors.scss */
.color-2F0B3A {
  background-color: #2F0B3A;
}

/* line 321, ../sass/_colors.scss */
.color-3B0B39 {
  background-color: #3B0B39;
}

/* line 322, ../sass/_colors.scss */
.color-3B0B2E {
  background-color: #3B0B2E;
}

/* line 323, ../sass/_colors.scss */
.color-3B0B24 {
  background-color: #3B0B24;
}

/* line 324, ../sass/_colors.scss */
.color-3B0B17 {
  background-color: #3B0B17;
}

/* line 325, ../sass/_colors.scss */
.color-1C1C1C {
  background-color: #1C1C1C;
}

/* line 326, ../sass/_colors.scss */
.color-2A0A0A {
  background-color: #2A0A0A;
}

/* line 327, ../sass/_colors.scss */
.color-2A120A {
  background-color: #2A120A;
}

/* line 328, ../sass/_colors.scss */
.color-2A1B0A {
  background-color: #2A1B0A;
}

/* line 329, ../sass/_colors.scss */
.color-29220A {
  background-color: #29220A;
}

/* line 330, ../sass/_colors.scss */
.color-292A0A {
  background-color: #292A0A;
}

/* line 331, ../sass/_colors.scss */
.color-222A0A {
  background-color: #222A0A;
}

/* line 332, ../sass/_colors.scss */
.color-1B2A0A {
  background-color: #1B2A0A;
}

/* line 333, ../sass/_colors.scss */
.color-122A0A {
  background-color: #122A0A;
}

/* line 334, ../sass/_colors.scss */
.color-0A2A0A {
  background-color: #0A2A0A;
}

/* line 335, ../sass/_colors.scss */
.color-0A2A12 {
  background-color: #0A2A12;
}

/* line 336, ../sass/_colors.scss */
.color-0A2A1B {
  background-color: #0A2A1B;
}

/* line 337, ../sass/_colors.scss */
.color-0A2A22 {
  background-color: #0A2A22;
}

/* line 338, ../sass/_colors.scss */
.color-0A2A29 {
  background-color: #0A2A29;
}

/* line 339, ../sass/_colors.scss */
.color-0A2229 {
  background-color: #0A2229;
}

/* line 340, ../sass/_colors.scss */
.color-0A1B2A {
  background-color: #0A1B2A;
}

/* line 341, ../sass/_colors.scss */
.color-0A122A {
  background-color: #0A122A;
}

/* line 342, ../sass/_colors.scss */
.color-0A0A2A {
  background-color: #0A0A2A;
}

/* line 343, ../sass/_colors.scss */
.color-120A2A {
  background-color: #120A2A;
}

/* line 344, ../sass/_colors.scss */
.color-1B0A2A {
  background-color: #1B0A2A;
}

/* line 345, ../sass/_colors.scss */
.color-220A29 {
  background-color: #220A29;
}

/* line 346, ../sass/_colors.scss */
.color-2A0A29 {
  background-color: #2A0A29;
}

/* line 347, ../sass/_colors.scss */
.color-2A0A22 {
  background-color: #2A0A22;
}

/* line 348, ../sass/_colors.scss */
.color-2A0A1B {
  background-color: #2A0A1B;
}

/* line 349, ../sass/_colors.scss */
.color-2A0A12 {
  background-color: #2A0A12;
}

/* line 350, ../sass/_colors.scss */
.color-151515 {
  background-color: #151515;
}

/* line 351, ../sass/_colors.scss */
.color-190707 {
  background-color: #190707;
}

/* line 352, ../sass/_colors.scss */
.color-190B07 {
  background-color: #190B07;
}

/* line 353, ../sass/_colors.scss */
.color-191007 {
  background-color: #191007;
}

/* line 354, ../sass/_colors.scss */
.color-181407 {
  background-color: #181407;
}

/* line 355, ../sass/_colors.scss */
.color-181907 {
  background-color: #181907;
}

/* line 356, ../sass/_colors.scss */
.color-141907 {
  background-color: #141907;
}

/* line 357, ../sass/_colors.scss */
.color-101907 {
  background-color: #101907;
}

/* line 358, ../sass/_colors.scss */
.color-0B1907 {
  background-color: #0B1907;
}

/* line 359, ../sass/_colors.scss */
.color-071907 {
  background-color: #071907;
}

/* line 360, ../sass/_colors.scss */
.color-07190B {
  background-color: #07190B;
}

/* line 361, ../sass/_colors.scss */
.color-071910 {
  background-color: #071910;
}

/* line 362, ../sass/_colors.scss */
.color-071914 {
  background-color: #071914;
}

/* line 363, ../sass/_colors.scss */
.color-071918 {
  background-color: #071918;
}

/* line 364, ../sass/_colors.scss */
.color-071418 {
  background-color: #071418;
}

/* line 365, ../sass/_colors.scss */
.color-071019 {
  background-color: #071019;
}

/* line 366, ../sass/_colors.scss */
.color-070B19 {
  background-color: #070B19;
}

/* line 367, ../sass/_colors.scss */
.color-070719 {
  background-color: #070719;
}

/* line 368, ../sass/_colors.scss */
.color-0B0719 {
  background-color: #0B0719;
}

/* line 369, ../sass/_colors.scss */
.color-100719 {
  background-color: #100719;
}

/* line 370, ../sass/_colors.scss */
.color-140718 {
  background-color: #140718;
}

/* line 371, ../sass/_colors.scss */
.color-190718 {
  background-color: #190718;
}

/* line 372, ../sass/_colors.scss */
.color-190714 {
  background-color: #190714;
}

/* line 373, ../sass/_colors.scss */
.color-190710 {
  background-color: #190710;
}

/* line 374, ../sass/_colors.scss */
.color-19070B {
  background-color: #19070B;
}

/* line 375, ../sass/_colors.scss */
.color-000000 {
  background-color: #000000;
}

/* line 1, ../sass/_colorwheel.scss */
.colorwheel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
/* line 7, ../sass/_colorwheel.scss */
.colorwheel li {
  display: block;
  height: 44px;
  width: 44px;
}
